_assets/css/vendor/* linguist-vendored
_assets/js/plugins/* linguist-vendored
_assets/js/vendor/* linguist-vendored
assets/fonts/* linguist-vendored
assets/js/vendor/* linguist-vendored
'*.nc' filter=lfs diff=lfs merge=lfs -text
'*.csv' filter=lfs diff=lfs merge=lfs -text
